In [1]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import re

In [2]:
BPM_stats = pd.read_csv('2021_players_stats.csv')
combine_measurements = pd.read_csv('combine_2021.csv')

In [3]:
BPM_stats.describe()
BPM_stats.info()

,Unnamed: 0,Season,through_4_years,after_2010,BPM,MP
count,151.000000,151.000000,151.0,151.0,151.000000,151.000000
mean,76.000000,2020.364238,0.0,1.0,-4.449890,396.728477
std,43.734045,0.482817,0.0,0.0,6.552629,519.942355
min,1.000000,2020.000000,0.0,1.0,-45.200000,1.000000
25%,38.500000,2020.000000,0.0,1.0,-6.350000,59.000000
50%,76.000000,2020.000000,0.0,1.0,-3.700000,177.000000
75%,113.500000,2021.000000,0.0,1.0,-1.250000,506.000000
max,151.000000,2021.000000,0.0,1.0,11.900000,2314.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       151 non-null    int64
 1   Name             151 non-null    object
 2   Season           151 non-null    int64
 3   Pos              151 non-null    object
 4   through_4_years  151 non-null    int64
 5   after_2010       151 non-null    int64
 6   BPM              151 non-null    float64
 7   MP               151 non-null    int64
dtypes: float64(1), int64(5), object(2)
memory usage: 9.6+ KB

In [4]:
#Remove the unnamed :0 column
BPM_stats = BPM_stats.iloc[:,1:8]

In [5]:
combine_measurements.describe()
combine_measurements.info()

,NO SHOES,WEIGHT,WING DIFF,WINGSPAN,REACH,BODY FAT %,HAND L,HAND W,STD VERT,MAX VERT,SHUTTLE,3/4 SPRINT,BENCH
count,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,36.000000,36.000000,36.000000,36.000000,0.0
mean,77.094444,212.537778,4.922222,82.016667,103.077778,7.170444,8.683333,9.500000,30.097222,36.375000,2.636111,3.249722,NaN
std,3.010063,24.459552,2.258709,4.132534,4.599846,2.873995,0.486756,0.808337,3.769842,3.915856,0.259904,0.143875,NaN
min,69.500000,170.000000,-0.750000,72.250000,91.500000,2.800000,7.500000,7.750000,21.500000,27.000000,2.220000,3.020000,NaN
25%,75.000000,194.000000,3.500000,79.250000,100.000000,4.700000,8.250000,8.750000,28.000000,34.000000,2.485000,3.160000,NaN
50%,77.500000,212.800000,5.000000,81.500000,102.500000,6.830000,8.750000,9.500000,30.000000,36.500000,2.600000,3.225000,NaN
75%,79.500000,229.000000,6.250000,86.000000,106.000000,8.500000,9.000000,10.000000,32.125000,38.625000,2.712500,3.315000,NaN
max,82.500000,266.500000,9.500000,91.250000,111.500000,15.800000,10.250000,11.000000,37.500000,44.000000,3.610000,3.610000,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PLAYER      45 non-null     object
 1   NO SHOES    45 non-null     float64
 2   WEIGHT      45 non-null     float64
 3   WING DIFF   45 non-null     float64
 4   WINGSPAN    45 non-null     float64
 5   REACH       45 non-null     float64
 6   BODY FAT %  45 non-null     float64
 7   HAND L      45 non-null     float64
 8   HAND W      45 non-null     float64
 9   STD VERT    36 non-null     float64
 10  MAX VERT    36 non-null     float64
 11  SHUTTLE     36 non-null     float64
 12  3/4 SPRINT  36 non-null     float64
 13  BENCH       0 non-null      float64
dtypes: float64(13), object(1)
memory usage: 5.0+ KB

## Cleaning combine_measurements

In [6]:
combine_measurements['BODY FAT %'] = combine_measurements['BODY FAT %'].astype(str)
combine_measurements['BODY FAT %'] = combine_measurements['BODY FAT %'].apply(lambda x : x.replace('%',''))
combine_measurements['BODY FAT %'] =combine_measurements['BODY FAT %'].astype(float)

In [7]:
combine_measurements.rename(columns={'PLAYER':'Name'},inplace=True)

In [8]:
def clean_name(text):
    text = re.sub(r" III","",text)
    text = re.sub(r" II", "", text)
    text = re.sub(r"Jr.","",text)
    text = re.sub(r'[0-9]','',text)

                  
                
    return text

combine_measurements['Name'] = combine_measurements['Name'].apply(lambda x : clean_name(x))

In [9]:
combine_measurements.fillna(-1,inplace=True)

In [10]:
combine_measurements['BENCH'] = combine_measurements['BENCH'].apply(lambda x : -1 if x == '-' else x)
combine_measurements['BENCH'] = combine_measurements['BENCH'].astype(int)

In [11]:
combine_measurements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        45 non-null     object
 1   NO SHOES    45 non-null     float64
 2   WEIGHT      45 non-null     float64
 3   WING DIFF   45 non-null     float64
 4   WINGSPAN    45 non-null     float64
 5   REACH       45 non-null     float64
 6   BODY FAT %  45 non-null     float64
 7   HAND L      45 non-null     float64
 8   HAND W      45 non-null     float64
 9   STD VERT    45 non-null     float64
 10  MAX VERT    45 non-null     float64
 11  SHUTTLE     45 non-null     float64
 12  3/4 SPRINT  45 non-null     float64
 13  BENCH       45 non-null     int32
dtypes: float64(12), int32(1), object(1)
memory usage: 4.9+ KB

## Make Dataframe With Combine Measurements and First Year BPM

In [12]:
first_year_BPM_stats=BPM_stats.drop_duplicates('Name')

In [13]:
first_year_df = pd.merge(combine_measurements,first_year_BPM_stats,on=['Name'])

In [14]:
first_year_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 0 to 33
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             34 non-null     object
 1   NO SHOES         34 non-null     float64
 2   WEIGHT           34 non-null     float64
 3   WING DIFF        34 non-null     float64
 4   WINGSPAN         34 non-null     float64
 5   REACH            34 non-null     float64
 6   BODY FAT %       34 non-null     float64
 7   HAND L           34 non-null     float64
 8   HAND W           34 non-null     float64
 9   STD VERT         34 non-null     float64
 10  MAX VERT         34 non-null     float64
 11  SHUTTLE          34 non-null     float64
 12  3/4 SPRINT       34 non-null     float64
 13  BENCH            34 non-null     int32
 14  Season           34 non-null     int64
 15  Pos              34 non-null     object
 16  through_4_years  34 non-null     int64
 17  after_2010       34 non-null     int64
 18  BPM              34 non-null     float64
 19  MP               34 non-null     int64
dtypes: float64(13), int32(1), int64(4), object(2)
memory usage: 5.4+ KB

## Make Dataframe With Combine Measurements and First Year BPM

In [15]:
avg_BPM_stats = BPM_stats.groupby(['Name'],as_index=False)['BPM'].mean()
avg_BPM_stats
avg_BPM_stats.rename(columns={'BPM':'Avg_BPM'},inplace=True)

                  Name   BPM
0        Aaron Nesmith  -5.4
1   Aleksej Pokusevski  -5.3
2         Amida Brimah  -4.0
3      Anthony Edwards  -1.5
4         Anthony Gill  -1.2
..                 ...   ...
89      Udoka Azubuike  -4.9
90    Vernon Carey Jr. -25.7
91         Will Magnay -39.6
92  Xavier Tillman Sr.   0.5
93          Zeke Nnaji   4.9

[94 rows x 2 columns]

In [16]:
all_df = pd.merge(first_year_df,avg_BPM_stats,on=['Name'])

In [18]:
import pickle5 as pickle
file_name='2021_test.pkl'
f = open(file_name,'wb')
pickle.dump(all_df,f)
f.close()